html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

button {
  background-color: transparent;
  border: 2px solid #000;
}

#getinfo {
  margin-top: 60px;
  margin: 0;
  width: 100%;
}

#username, #username:focus {
  font-family: inherit;
  border: 1px solid #e0e0e0;
  line-height: 1.5;
  outline: 0;
  -ms-progress-appearance: unset;
             -webkit-appearance: none;
                -moz-appearance: none;
                     appearance: none;

}

#playground {
  margin-top: 40px;
}

.loading {
  display: none;
  color: #f86565;
}

.show {
  display: block;
}

/* .chart-container {
  position: relative; 
  height:40vh; 
  width:80vw;
  margin: 0 auto;
} */

#code-chart {
  max-width: 100%;
  width: 600px;
  min-height: 450px;
  margin: 0 auto;
}